Entities/Offer/1.0/Offer.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://edp.pt/Energy/CanonicalDataModel/Offer/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn://edp.pt/Energy/CanonicalDataModel/Offer/1.0"><xs:element name="Offer" type="tns:OfferType"/><xs:complexType name="OfferType"><xs:sequence><xs:element maxOccurs="1" minOccurs="0" name="Id" type="xs:integer"><xs:annotation><xs:documentation>Unique ID for each offer type (CRM attribute ZCM_ATR_0001) </xs:documentation></xs:annotation></xs:element><xs:element maxOccurs="1" minOccurs="0" name="Description" type="xs:string"><xs:annotation><xs:documentation>Descricao de Oferta</xs:documentation></xs:annotation></xs:element><xs:element maxOccurs="1" minOccurs="0" name="CommercialDescription" type="xs:string"><xs:annotation><xs:documentation>Descricao comercial da Oferta</xs:documentation></xs:annotation></xs:element><xs:element maxOccurs="1" minOccurs="0" name="OfferReferenceNumber" type="xs:integer"><xs:annotation><xs:documentation>Offer Reference for Customer</xs:documentation></xs:annotation></xs:element></xs:sequence></xs:complexType></xs:schema>